  body {

      no-repeat 
	bottom right,
    url(99.jpg);
  background-color:#FFF8DC;
color:#000305;
font-size: 87.5%; 
font-family: Arial, 'lucide Sans Unicode';
Line-height:1.5;
text-align:left;
    }
h3{text-align:center;
font-size:15px;
font-family:Arial;
color:#2F4F4F;}


          h1{
text-shadow: 2px 2px 2px #99FF00;
background-color:#000305;
color: #FFFFFF;

margin-top: 0px;
font-size:60px;
font-family: Kristen ITC, sans serif;

text-align:center;
padding-bottom:15px;


-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px 10px;
background-image: url(666.jpg);
background-repeat: no-repeat;}
h1:hover {background-color: orange;}

       h2{
margin-left: 500px;

font-size: 50px;
font-family:Lucida Console, sans-serif;
}

/*For Links */
a:link{text-decoration:none; font-size:15px;}
/* unvisited link */
a:link{    color: white;}
/* visited link */
a:visited {    color: #00FF00;}
/* mouse over link */
a:hover {    color: #FF00FF;}
/* selected link */
a:active {    color: #0000FF;}

/* For the first letter in each paragraph */
.firstcharacter {
	float: left; 
	color: #903;
	font-size: 75px; 
	line-height: 60px; 
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px; 
	font-family: Georgia; }
	
/* The Layout */

body { margin: 0; }
.masthead {
    height: 20%;
    background:pink; padding: 15px; 
}
.sidebar { 
  
    width: 20%; height: 20`%;
  
    background: 		#CD853F;  
 }
.main { 
    height: 74%;
    background: #D2B48C; padding: 15px; 
} 
.footer  { 
    clear: left;  
    height: 3%;
 background : 		#A52A2A;	
	padding: 10px; 
}





/* This class is for design the columns */
.content {
    column-rule: 2px solid blue;  
     -moz-column-rule: 2px solid blue; 
     -webkit-column-rule: 2px solid blue;  
 }
.content {
    column-width: 200px; 
     -moz-column-width: 200px;  
     -webkit-column-width: 200px;  
 }
.content {
    column-count: 3;  
     -moz-column-count: 3;  
     -webkit-column-count: 3;  
 }
 
#img{float:right;
width: 330px;
height: 330px;
margin:88px;
}
#img1{float:right;
width: 170px;
height: 170px;
margin:88px;
}

/*p{text-indent: 50px;}

/* For video */
video {
    width: 400px;
    height: 250px;
}
#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;}
	
	/* For the Horizental Navigation */
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: 	#A52A2A;

}

li {
    float: left;
	
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 33px 110px;
    text-decoration: none;
}
li a:hover {
    background-color: 	#DEB887;
}



/* Dor the dropdown menue */


.dropbtn { 
background-color: brawn;
         color: white; padding: 20px 100px;
         font-nze: 16px; border: none;
           cursor: pointer; 

display:inline-block;
}
.dropdown { 
/* position: relative;
           display: inline; */
display: inline-block; 
	
 }
.dropdown-content {
           display:  none;
           position: absolute;
           background-color: #f9f9f9;
           min-width: 160px;

           box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
          color: black; padding: 12px 16px; text-decoration: none; display: block; }
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropbtn { background-color: #3e8e41; }
